<h1>Contact</h1>
<a href="/"> page d'accueill</a>
<%= link_to('Page d accueil', {:controller =>'pages', :action => 'home'})%>

<ul>
    <% for key, value in @contact %>
    <li><%= key %> - <%= value %>  </li>
    <% end%>
<ul>


Voir details
 <ul>
    <% for nom  in @contact.keys %>
    <li><a href ="contact/<%= nom %>"> <%= nom %> </li>
    <% end%>
<ul>